# .coveragerc to control coverage.py
[run]
source = pennylane
omit =
    pennylane/devices/tests*
    pennylane/labs/*
    pennylane/workflow/interfaces/tensorflow.py
    pennylane/workflow/interfaces/tensorflow_autograph.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    pragma: no cover (TensorFlow tests were disabled during deprecation)
    
    # Ignore type checking 
    if TYPE_CHECKING:

    # Don't complain about debug-only or logging code:
    if self\.debug
    if "LOGGING" in os.environ

    # print statements
    def __format__
    def _print_list

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Ignore things that would have trivial tests
    def version

    # Ignore overload stubs
    @overload

ignore_errors = True

[html]
directory = coverage_html_report
