*~
*.pyc
doc/_build
build
dist
qit.egg-info
.idea
*.ipynp
*.ipynb_checkpoints/*
*.egg-info*
.coverage
coverage_html_report/*
notebooks/*
*.aux
*.bbl
*.blg
*.end
*.log
*.out
*.toc
*.dvi
*.pdf
*Notes.bib
*.synctex.gz

!formalism/tasks.pdf
