*~
*.pyc
doc/_build
build
dist
qit.egg-info
.idea
*.ipynb
*.ipynb_checkpoints
*.egg-info*
.coverage*
!.coveragerc
!pennylane/labs/.coveragerc
coverage_html_report/*
notebooks/*
.pytest_cache/*
doc/tutorials/*
doc/_static/thumbs/*
doc/code/api/*
!doc/_static/code.png
*.DS_Store
/.vscode/*
timer.dat
tmp/*
benchmark/revisions/
*venv*/
config.toml
.envrc
qml_debug.log
datasets/*
.benchmarks/*
*.h5
*.hdf5
