sudo: false
language: python
cache: pip
matrix:
  include:
  - python: 3.8
    dist: xenial
    env: TF=0
  - python: 3.7
    dist: xenial
    env: TF=2
  - python: 3.6
    dist: xenial
    env: TF=1
  - python: 3.7
    dist: xenial
    name: Qchem
    install: qchem/install-dependencies.sh
    script:
    - source "$HOME/miniconda/etc/profile.d/conda.sh"
    - conda activate test-environment
    - make -C qchem coverage
env:
  global:
  - COVERALLS_PARALLEL=true
  - LOGGING=info
install:
- pip install -r requirements.txt
- pip install wheel pytest pytest-cov absl-py --upgrade
- if [ "$TF" = "2" ]; then pip install tensorflow==2.2; fi
- if [ "$TF" = "1" ]; then pip install tensorflow==1.15; fi
- pip install torch==1.5.0+cpu torchvision==0.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
- python3 setup.py bdist_wheel
- pip install dist/PennyLane*.whl
script:
- make coverage
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: de0sN7zGO8bRzsNf94L0KQrAARpyYHqkzyWAvfOO8uWwGbai2JE5gd62Qo0twpvx7SrXQiSmVWs8A2rKV8PBNTSMFH9csWENzaDN34oveu/faVB3R3zmlxuV5G3sAh5nUfNuy+H4cPuIa4zgDtHm8V7R/rkzxgj/R0QAGsfRJKvLzkoEjOYimuYGjgFFyi3md0S0AKUaNU90+KVgVJFt09+r443HmI6fdvT9b3MZJVREeCDcKUuiIrgeWtpIcfprNMBSrJQ4zr+xW1b2QtxTokXF/GXBrFL/uUp6UYTfxgit1mY9tDgoASddUEI3P0cCy51MebvxScfbZyWfuFufbTwHV+ExnEqJ0zZu6Oo3J5cZjfFGNMA9TTcAFtXC8+IQN5DGFbcczs34pKuacVAS+/+bnv8q5vJy7Wg0luokyZ4Y4na6KDoC2g12oC6hk0qt/gYV75H/Jslol56bAOhcsqwKbY/o9xxkzZMwhIXn8h0xCtIU8g8WJdIX3xkYVQhKr6RqqLaQ6Eqj/IccJIEALTZ7Q7KT9D/dZpCKR3uNap0jSyi9IzTn/wSu8ebjOa7xzV1DvNhx8TIRqynSb5n9aObIyGOQqdYCwUp+elEakLJJNYdfBl17sSIp7tiUSGqYDRhsP3vu8wbOasSXW9Qk7PukUWoSLgsVXS0C88lGYzw=
  webhooks: https://coveralls.io/webhook
