numpy
scipy
cvxpy
cvxopt
networkx
tensornetwork==0.3
autograd
toml
appdirs
semantic_version==2.6
dask[delayed]
autoray
matplotlib
git+git://github.com/PennyLaneAI/pennylane-lightning.git#egg=pennylane-lightning
pybind11
