appdirs==1.4.4 ; python_full_version >= "3.9.0" and python_version < "3.12"
autograd==1.6.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
autoray==0.6.7 ; python_full_version >= "3.9.0" and python_version < "3.12"
cachetools==5.3.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
certifi==2023.11.17 ; python_full_version >= "3.9.0" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
future==0.18.3 ; python_full_version >= "3.9.0" and python_version < "3.12"
idna==3.6 ; python_full_version >= "3.9.0" and python_version < "3.12"
networkx==2.6.3 ; python_full_version >= "3.9.0" and python_version < "3.12"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "3.12"
pennylane-lightning==0.34.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
requests==2.31.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
rustworkx==0.12.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
scipy==1.11.4 ; python_version >= "3.9" and python_version < "3.12"
semantic-version==2.10.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
toml==0.10.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
typing-extensions==4.8.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
urllib3==2.1.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
