pre-commit>=2.19.0
pytest>=8.4.1
pytest-cov>=3.0.0
pytest-mock>=3.7.0
pytest-xdist>=2.5.0
pytest-rng
flaky>=3.7.0
pytest-forked>=1.4.0
pytest-benchmark
pytest-split
tomlkit~=0.13
rich>=13.7.1
tach==0.28.5
build

# Linting and formatting tools
# Should be kept in sync with
# Lightning and Catalyst.
pylint~=4.0.0
isort~=7.0.0
black==25.9.0
