numpy~=1.23
scipy~=1.8
cvxpy~=1.2
cvxopt~=1.3.0
cachetools~=5.0.0
networkx~=2.8
rustworkx~=0.15.1
autograd~=1.4
tomlkit~=0.13
appdirs~=1.4
packaging
autoray>=0.6.11
matplotlib~=3.5
opt_einsum~=3.3
requests~=2.31.0
typing_extensions>=4.6.0
tomli~=2.0.0 # Drop once minimum Python version is 3.11
tach~=0.13.1
diastatic-malt
