numpy
scipy
cvxpy
cvxopt
networkx
rustworkx
autograd
toml
appdirs
semantic_version
git+https://github.com/jcmgray/autoray.git@main
matplotlib
requests
tomli # Drop once minimum Python version is 3.11
