clarabel==0.6.0 ; python_full_version >= "3.9.0" and python_version < "3.12"
contourpy==1.2.0 ; python_version >= "3.9" and python_version < "3.12"
cvxopt==1.3.2 ; python_full_version >= "3.9.0" and python_version < "3.12"
cvxpy==1.4.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "3.12"
ecos==2.0.12 ; python_full_version >= "3.9.0" and python_version < "3.12"
fonttools==4.46.0 ; python_version >= "3.9" and python_version < "3.12"
importlib-resources==6.1.1 ; python_version >= "3.9" and python_version < "3.10"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "3.12"
matplotlib==3.8.0 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "3.12"
osqp==0.6.3 ; python_full_version >= "3.9.0" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.12"
pillow==10.1.0 ; python_version >= "3.9" and python_version < "3.12"
pybind11==2.11.1 ; python_full_version >= "3.9.0" and python_version < "3.12"
pyparsing==3.1.1 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.12"
qdldl==0.1.7.post0 ; python_full_version >= "3.9.0" and python_version < "3.12"
scipy==1.11.4 ; python_version >= "3.9" and python_version < "3.12"
scs==3.2.4.post1 ; python_full_version >= "3.9.0" and python_version < "3.12"
setuptools-scm==8.0.4 ; python_version >= "3.9" and python_version < "3.12"
setuptools==69.0.2 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.10"
