layers = ["ui", "tertiary", "auxiliary", "core"]

exclude = [
    "**/*__pycache__",
    "**/*egg-info",
    "**/docs",
    "**/tests",
    "**/venv",
]

source_roots = [
    ".",
]

forbid_circular_dependencies = true

## TOP LEVEL MODULE
# Users should only be importing from this module. Nothing in the source code should!

[[modules]]
path = "pennylane"
layer = "ui"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

## CLOSED modules
# No module can define dependencies to the following set of modules in this tach.toml file.

[[modules]]
path = "pennylane.ftqc"
visibility = []

[[modules]]
path = "pennylane.labs"
visibility = []

[[modules]]
path = "pennylane.compiler.python_compiler"
visibility = []

## UTILITY modules

[[modules]]
path = "pennylane.exceptions"
utility = true
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

## CORE modules
# These modules are fundamental, and should not have any dependent modulesin lower levels.

[[modules]]
path = "pennylane.control_flow"
layer = "core"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.math"
depends_on = ["pennylane._grad", "pennylane.numpy"]
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.pytrees"
depends_on = ["pennylane.queuing"]
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.numpy"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.wires"
depends_on = ["pennylane.math", "pennylane.pytrees"]
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.logging"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.registers"
depends_on = ["pennylane.wires"]
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.io"
layer = "core"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.about"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane._version"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.queuing"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.configuration"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.compiler"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.boolean_fn"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane.typing"
depends_on = []
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "core"

[[modules]]
path = "pennylane._grad"
layer = "core"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.circuit_graph"
layer = "core"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

## AUXILIARY modules
# These modules can only import from CORE modules.

[[modules]]
path = "pennylane.shadows"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.gradients"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.optimize"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]


# TEMPLATES MODULE 

[[modules]]
path = "pennylane.templates"
# Once all submodules are cleaned up, uncomment the following and delete the submodules
# layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.templates.embeddings"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.templates.layers"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.templates.swapnetworks"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.templates.tensornetworks"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.templates.layer"
layer = "auxiliary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

# Bottom two must be addressed in another PR, too large of an effort

# [[modules]]
# path = "pennylane.templates.state_preparations"
# layer = "auxiliary"
# cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

# [[modules]]
# path = "pennylane.templates.subroutines"
# layer = "auxiliary"
# cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

## TERTIARY modules
# These modules can only import from CORE or AUXILIARY modules.

[[modules]]
path = "pennylane.qaoa"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.kernels"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "tertiary"

[[modules]]
path = "pennylane.data"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
layer = "tertiary"

[[modules]]
path = "pennylane.liealg"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.fermi"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.bose"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.spin"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.drawer"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.fourier"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.noise"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.debugging"
layer = "tertiary"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

## UNSORTED
# Due to circular import problems, these modules below have incorrect dependencies 
# and need to be parsed and fixed accordingly.

# These are left temporarily to depend on ANYTHING but pennylane.ftqc and pennylane.labs

[[modules]]
path = "pennylane.transforms.core"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.operation"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.ops"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.tape"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.qcut"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.qchem"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.transforms"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.capture"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.measurements"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.pauli"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.resource"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.pulse"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.qnn"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.decomposition"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.devices"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]

[[modules]]
path = "pennylane.workflow"
cannot_depend_on = ["pennylane.ftqc", "pennylane.labs", "pennylane.compiler.python_compiler"]
