[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=numpy,scipy,autograd,toml,appdir,autograd.numpy,autograd.numpy.linalg,autograd.numpy.builtins,packaging,torch,tensorflow,tensorflow.contrib,tensorflow.contrib.eager,LazyLoader,networkx,networkx.dag

[TYPECHECK]

# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=numpy,scipy,autograd,toml,appdir,autograd.numpy,autograd.numpy.linalg,autograd.numpy.builtins,packaging,torch,tensorflow,tensorflow.contrib,tensorflow.contrib.eager,LazyLoader,networkx,networkx.dag,math,pennylane.numpy

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set). This supports can work
# with qualified names.
ignored-classes=numpy,scipy,autograd,toml,appdir,autograd.numpy,autograd.numpy.linalg,autograd.numpy.builtins,packaging,torch,tensorflow,tensorflow.contrib,tensorflow.contrib.eager,LazyLoader,networkx,networkx.dag,math,pennylane.numpy,pennylane.numpy.random,pennylane.numpy.linalg,pennylane.numpy.builtins,pennylane.operation,rustworkx,kahypar

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
# Cyclical import checks are disabled for now as they are frequently used in
# the code base, but this can be removed in the future once cycles are resolved.
disable=
  line-too-long,
  invalid-name,
  too-many-lines,
  redefined-builtin,
  too-many-locals,
  duplicate-code,
  cyclic-import,
  import-error,
  bad-option-value,
  import-outside-toplevel,
  missing-class-docstring,
  missing-function-docstring,
  no-self-use,
  no-member, # because of qnode decorator
  comparison-with-callable,
  unsubscriptable-object, # because of qnode decorator
  not-callable, # because of qnode decorator
  unexpected-keyword-arg,
  arguments-differ,
  no-value-for-parameter,
  too-many-positional-arguments, # because of parameterization
  unnecessary-lambda-assignment,
  consider-using-generator, # needs further investigation into performance benefits [sc-96328]
  use-implicit-booleaness-not-comparison, # we actually prefer explicit comparisons
  invalid-sequence-index, # type hinting needs to be improved [sc-96329] 

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=
