--find-links https://download.pytorch.org/whl/torch_stable.html
pip
appdirs
autograd
autoray
jax==0.2.19
jaxlib==0.1.71
mistune==0.8.4
m2r2
numpy
pygments-github-lexers
semantic_version==2.6
scipy
docutils==0.16
sphinx==3.5.3
sphinx-automodapi
sphinx-copybutton
sphinxcontrib-bibtex==0.4.2
tensorflow==2.5.2
tensornetwork==0.3
toml
torch==1.9.0+cpu
torchvision==0.10.0+cpu
