pip
appdirs
autograd
autoray
cachetools
jax==0.6.0
jaxlib==0.6.0
mistune==0.8.4
m2r2
numpy
pygments-github-lexers
packaging
pyzx
scipy
docutils==0.20
sphinx==8.1
sphinx-automodapi==0.19
sphinx-copybutton
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-serializinghtml==2.0.0
tensorflow==2.19
tensornetwork==0.3
tomlkit
torch==2.8.0
jinja2>=3.1
rustworkx>=0.14.0
networkx==3.1
requests==2.32.3
# we do not pin the sphinx theme, to allow the
# navbar and header data to be updated at the source
pennylane-sphinx-theme
tomli~=2.0.0 # Drop once minimum Python version is 3.11
sphinxext-opengraph==0.9.0
matplotlib==3.8.0
diastatic-malt
galois
