name: "Documentation check"
on:
- pull_request

jobs:
  sphinx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: josh146/sphinx-action@master
      with:
        docs-folder: "doc/"
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        pre-build-command: "apt install graphviz && pip3 install -r requirements.txt && pip3 install . && pip3 install -r qchem/requirements.txt && pip3 install ./qchem"
        build-command: "sphinx-build -b html . _build -W --keep-going"
