name: Documentation Tests
permissions:
  contents: read

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  determine_runner:
    if: github.event.pull_request.draft == false
    name: Determine runner type to use
    uses: ./.github/workflows/determine-workflow-runner.yml
    with:
      default_runner: ubuntu-latest
      force_large_runner: ${{ github.event_name == 'merge_group' }}

  documentation-tests:
    if: github.event.pull_request.draft == false
    needs: [determine_runner]
    runs-on: ${{ needs.determine_runner.outputs.runner_group }}

    name: Documentation Tests on Python 3.11 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install --upgrade --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ --pre pennylane-catalyst
          pip install -e .
          pip install sybil pytest "jax~=0.6.0" "jaxlib~=0.6.0" torch

      # TODO: Remove the --ignore options as layers are tested and verified
      # to be working correctly.
      - name: Run documentation tests
        run: |
          IGNORE_OPTS_CLOSED="
          --ignore=pennylane/ftqc
          --ignore=pennylane/labs
          --ignore=pennylane/compiler/python_compiler
          "
          IGNORE_OPTS_CORE="
          --ignore=pennylane/math
          --ignore=pennylane/compiler
          --ignore=pennylane/measurements
          --ignore=pennylane/ops/functions
          --ignore=pennylane/ops/qubit
          --ignore=pennylane/ops/qutrit
          --ignore=pennylane/transforms
          --ignore=pennylane/capture
          --ignore=pennylane/decomposition
          --ignore=pennylane/devices
          --ignore=pennylane/workflow
          "
          IGNORE_OPTS_AUXILIARY="
          --ignore=pennylane/pauli
          --ignore=pennylane/shadows
          --ignore=pennylane/gradients
          --ignore=pennylane/optimize
          --ignore=pennylane/pulse
          --ignore=pennylane/templates
          "
          IGNORE_OPTS_TERTIARY="
          --ignore=pennylane/resource
          --ignore=pennylane/io
          --ignore=pennylane/logging
          --ignore=pennylane/qnn
          --ignore=pennylane/qaoa
          --ignore=pennylane/data
          --ignore=pennylane/spin
          --ignore=pennylane/drawer
          --ignore=pennylane/fourier
          --ignore=pennylane/noise
          --ignore=pennylane/debugging
          --ignore=pennylane/qcut
          --ignore=pennylane/estimator
          --ignore=pennylane/qchem
          "

          IGNORE_OPTS="
          ${IGNORE_OPTS_CLOSED}
          ${IGNORE_OPTS_CORE}
          ${IGNORE_OPTS_AUXILIARY}
          ${IGNORE_OPTS_TERTIARY}
          "

          pytest pennylane $IGNORE_OPTS --ignore-glob='*tests*'
