name: Formatting check
on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  determine_runner:
    if: github.event.pull_request.draft == false
    name: Determine runner type to use
    uses: ./.github/workflows/determine-workflow-runner.yml
    with:
      default_runner: ubuntu-latest
      force_large_runner: ${{ github.event_name == 'merge_group' }}

  black-pylint:
    if: github.event.pull_request.draft == false
    needs: [determine_runner]
    runs-on: ${{ needs.determine_runner.outputs.runner_group }}

    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: 0.9.17
          enable-cache: true        
        
      - name: Install Python dependencies
        run: uv pip install --group dev

      - name: Run Black
        run: |
          black -t py311 -t py312 -t py313 -l 100 pennylane/ --check
          black -t py311 -t py312 -t py313 -l 100 tests/ --check

      - name: Run isort
        run: |
          isort --py 312 --profile black -l 100 -o autoray -p ./pennylane --skip __init__.py --filter-files ./pennylane --check
          isort --py 312 --profile black -l 100 -o autoray -p ./pennylane --skip __init__.py --filter-files ./tests --check

      - name: Run Pylint (source files)
        if: always()
        run: pylint --rcfile .pylintrc $(find pennylane -name "*.py")

      - name: Run Pylint (test files)
        if: always()
        run: pylint --rcfile tests/.pylintrc $(find tests -name "*.py")
