# There are dependencies that we install on a sub-set of Tests when running the PennyLane Unit Tests.
# Since they are not installed in every instance, they are omitted from requirements-ci.txt.
# However, we want a single source of truth for the versions of these dependencies.
# This workflow maintains a single source of truth for the versions of these dependencies.

name: Determine Package Versions to use for testing certain PennyLane Interfaces
on:
  workflow_call:
    inputs:
      job_runner_name:
        description: The name of the runner to use for the job
        required: false
        type: string
        default: 'ubuntu-latest'
      jax_version:
        description: The version of JAX to use for testing
        required: false
        type: string
        default: '0.7.1'
      catalyst_jax_version:
        description: The version of JAX to use for testing along with Catalyst
        required: false
        type: string
        default: '0.7.1'
      torch_version:
        description: The version of PyTorch to use for testing
        required: false
        type: string
        default: '2.9.0'
    outputs:
      jax-version:
        description: The version of JAX to use
        value: ${{ jobs.default-dependency-versions.outputs.jax-version }}
      catalyst-jax-version:
        description: The version of JAX to use along with Catalyst
        value: ${{ jobs.default-dependency-versions.outputs.catalyst-jax-version }}
      pytorch-version:
        description: The version of PyTorch to use
        value: ${{ jobs.default-dependency-versions.outputs.pytorch-version }}
      catalyst-nightly:
        description: The nightly version of Catalyst to use
        value: ${{ jobs.default-dependency-versions.outputs.catalyst-nightly }}
      pennylane-lightning-latest:
        description: The latest version of PennyLane-Lightning to use
        value: ${{ jobs.default-dependency-versions.outputs.pennylane-lightning-latest }}
  
jobs:
  default-dependency-versions:
    runs-on: ${{ inputs.job_runner_name }}
    
    steps:
      - name: Default JAX Version
        id: jax
        run: echo "version=${{ inputs.jax_version }}" >> $GITHUB_OUTPUT

      - name: Default Catalyst JAX Version
        id: catalyst-jax
        run: echo "version=${{ inputs.catalyst_jax_version }}" >> $GITHUB_OUTPUT
      
      - name: Default PyTorch Version
        id: pytorch
        run: echo "version=${{ inputs.torch_version }}" >> $GITHUB_OUTPUT
      
      - name: Nightly Catalyst Version
        id: catalyst
        run: echo "nightly=--index https://test.pypi.org/simple/ --prerelease=allow --upgrade-package PennyLane-Catalyst PennyLane-Catalyst" >> $GITHUB_OUTPUT
      
      - name: PennyLane-Lightning Latest Version
        id: pennylane-lightning
        run: echo "latest=--index https://test.pypi.org/simple/ --prerelease=allow --upgrade-package PennyLane-Lightning PennyLane-Lightning" >> $GITHUB_OUTPUT
    
    outputs:
      catalyst-jax-version: jax==${{ steps.catalyst-jax.outputs.version }} jaxlib==${{ steps.catalyst-jax.outputs.version }}
      jax-version: jax==${{ steps.jax.outputs.version }} jaxlib==${{ steps.jax.outputs.version }}
      pytorch-version: torch~=${{ steps.pytorch.outputs.version }}
      catalyst-nightly: ${{ steps.catalyst.outputs.nightly }}
      pennylane-lightning-latest: ${{ steps.pennylane-lightning.outputs.latest }}
