name: Run tests multiple times
permissions: write-all

on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review  
  workflow_dispatch:
    inputs:
      run_count:
        description: 'Number of times to run the documentation tests'
        required: false
        default: 2
      workflow:
        description: 'The workflow to run multiple times'
        required: true
        default: 'documentation-tests'
        type: choice
        options:
          - documentation-tests
          - docs
          - format
          - module-validation
          - package-warning-as-errors
          - test-numpy1-compat

jobs:
  prepare-run-count:
    name: Prepare run count list
    runs-on: ubuntu-latest
    outputs:
      run-count: ${{ steps.set-run-count.outputs.run-count }}
    steps:
      - name: Set run count
        id: set-run-count
        run: |
          RUN_COUNT_LIST=$(seq -s, 1 ${{ inputs.run_count || 2 }})
          echo "run-count-list=$RUN_COUNT_LIST" >> $GITHUB_OUTPUT
          echo "Run count list is set to $RUN_COUNT_LIST"
          RUN_COUNT_JSON=$(echo "[\"$(echo $RUN_COUNT_LIST | sed 's/,/\",\"/g')\"]")
          echo "run-count=$RUN_COUNT_JSON" >> $GITHUB_OUTPUT
          echo "workflow=${{ inputs.workflow }}"
          echo "event name is ${{ github.event_name }}"

  docs:
    name: Run docs
    needs: prepare-run-count
    if: ${{ inputs.workflow == 'docs' || true }}
    strategy:
      max-parallel: 5
      matrix:
        run-count: ${{ fromJSON(needs.prepare-run-count.outputs.run-count) }}
    uses: ./.github/workflows/docs.yml
