name: "Read the Docs check"
on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - master

jobs:
  rtd_check:
    runs-on: ubuntu-24.04
    env:
      PYTHON_VERSION: "3.11"
      # Space separated list of packages to install for each package manager
      PIP_PACKAGES_TO_INSTALL: "sphinx"
      APT_PACKAGES_TO_INSTALL: "graphviz"
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - name: Install APT packages
      run: |
        sudo apt-get update --assume-yes --quiet
        sudo apt install -y ${{ env.APT_PACKAGES_TO_INSTALL }}

    - name: Setup Python Environment
      id: setup_python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run: |
        pip install --upgrade --no-cache-dir pip setuptools 
        pip install --upgrade --no-cache-dir ${{ env.PIP_PACKAGES_TO_INSTALL }}
        pip install --upgrade --upgrade-strategy only-if-needed --no-cache-dir .[docs]
        pip install --upgrade --upgrade-strategy only-if-needed --no-cache-dir  .      


    - name: Build Sphinx HTML
      run: |
        cd doc
        python -m sphinx -T -b html -d ./_build/doctrees -D language=en . ./html --keep-going 
