name: Tests
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: unit-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    uses: ./.github/workflows/interface-unit-tests.yml
    with:
      branch: ${{ github.ref }}

      # Run a 'lightened' version of the CI on Pull Requests by default
      # Unless the label `ci:run-full-test-suite` is attached to the PR.
      # Always runs the full suite for push events.
      run_lightened_ci: false
#      run_lightened_ci: >-
#        ${{
#          github.event_name == 'pull_request'
#          && !contains(github.event.pull_request.labels.*.name, 'ci:run-full-test-suite')
#          || false
#         }}
      skip_ci_test_jobs: >-
        ${{
           github.event_name == 'pull_request' 
           && 'qcut-tests, data-tests'
           || ''
         }}
