name: Tests
on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: unit-tests-${{ github.ref }}
  cancel-in-progress: true

env:
  DEPS_BRANCH: bot/stable-deps-update

jobs:
  tests:
    uses: ./.github/workflows/interface-unit-tests.yml
    with:
      branch: ${{ github.ref }}

      # Run a 'lightened' version of the CI on Pull Requests by default
      # Unless the label `ci:run-full-test-suite` is attached to the PR.
      # Always runs the full suite for push events.
      run_lightened_ci: >-
        ${{
          github.event_name == 'pull_request'
          && !contains(github.event.pull_request.labels.*.name, 'ci:run-full-test-suite')
          || false
         }}

  upload-stable-deps:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-tags: true
          sparse-checkout: .github

      - name: Prepare local repo
        run: |
          git fetch
          if git ls-remote --exit-code origin "refs/heads/${{ env.DEPS_BRANCH }}"; then
            git checkout "${{ env.DEPS_BRANCH }}"
            git rebase origin/master
          else
            git checkout master
            git checkout -b "${{ env.DEPS_BRANCH }}"
          fi
          rm -f .github/stable/*.txt

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: frozen-*
          path: .github/stable/
          merge-multiple: true

      - name: Determine if changes have been made
        id: changed
        run: |
          echo "has_changes=$(git status --porcelain | wc -l | awk '{print $1}')" >> $GITHUB_OUTPUT

      - name: Stage changes
        if: steps.changed.outputs.has_changes != '0'
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git add .github/stable/
          git commit -m "Update changed dependencies"
          git push --set-upstream origin "${{ env.DEPS_BRANCH }}"

      # Create PR to master
      - name: Create pull request
        if: steps.changed.outputs.has_changes != '0'
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "${{ env.DEPS_BRANCH }}"
          destination_branch: "master"
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          pr_title: "Update stable dependency files"
          pr_body: "Automatic update of stable requirement files to snapshot valid python environments."
          pr_allow_empty: false
          pr_draft: false
          pr_reviewer: "timmysilv"
