name: Tests
on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches-ignore:
      - 'v[0-9]+.[0-9]+.[0-9]+-docs'
  # Scheduled trigger on Monday at 2:47am UTC
  schedule:
    - cron: "47 2 * * 1"
  merge_group:
    types:
      - checks_requested

concurrency:
  group: unit-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/interface-unit-tests.yml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
      test_report_server_endpoint_url: ${{ secrets.PENNYLANE_OSS_SERVER_ENDPOINT_URL_PROD }}
      test_report_server_api_key: ${{ secrets.PENNYLANE_OSS_SERVER_API_KEY_PROD }}
    with:
      branch: ${{ github.ref }}
      use_large_runner: ${{ github.event_name == 'merge_group' }}

      # Run a 'lightened' version of the CI on Pull Requests and Merge Queues by default
      # Unless the label `ci:run-full-test-suite` is attached to the PR.
      # Always runs the full suite for push events.
      run_lightened_ci: >-
        ${{
          (github.event_name == 'pull_request'
          && !contains(github.event.pull_request.labels.*.name, 'ci:run-full-test-suite') )
          || github.event_name == 'merge_group'
          || false
         }}

  update-lock-files:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update lock files
        run: |
          pip install uv
          uv lock

      - name: Upload frozen requirements # upload uv lock
        # if: github.event_name == 'schedule'
        uses: actions/upload-artifact@v4
        with:
          name: frozen-uv-lock
          path: uv.lock

  upload-stable-deps:
    needs: tests
    uses: ./.github/workflows/check_in_artifact.yml
    if: github.event_name == 'schedule'
    with:
      artifact_name_pattern: "frozen-*"
      artifact_save_path: ".github/stable/"
      pull_request_head_branch_name: bot/stable-deps-update
      commit_message_description: Frozen Dependencies Update
      pull_request_title: Update stable dependency files
      pull_request_body: |
        Automatic update of stable requirement files to snapshot valid python environments.

        Because bots are not able to trigger CI on their own, please do so by pushing an empty commit to this branch using the following command:

        ```
        git commit --allow-empty -m 'trigger ci'
        ```
