name: Tests
on:
  push:
    branches:
      - master
  pull_request:


env:
  TF_VERSION: 2.10.0
  TORCH_VERSION: 1.13.0
  COVERAGE_FLAGS: "--cov=pennylane --cov-report=term-missing --cov-report=xml --no-flaky-report -p no:warnings --tb=native"


jobs:
  core-and-interface-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - {python-version: 3.8, suite: 'tf'}
          - {python-version: '3.10', suite: 'tf'}
          - {python-version: 3.8, suite: 'torch'}
          - {python-version: '3.11', suite: 'torch'}
          - {python-version: 3.8, suite: 'jax'}
          - {python-version: '3.11', suite: 'jax'}
          - {python-version: 3.8, suite: 'autograd'}
          - {python-version: 3.9, suite: 'autograd'}
          - {python-version: '3.10', suite: 'autograd'}
          - {python-version: '3.11', suite: 'autograd'}
          - {python-version: 3.8, suite: 'core'}
          - {python-version: 3.9, suite: 'core'}
          - {python-version: '3.10', suite: 'core'}
          - {python-version: '3.11', suite: 'core'}

    env:
      SUITE: ${{ matrix.config.suite }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.config.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade
        
      - name: Conditionally install cvxpy and cvxopt
        if: matrix.config.python-version != '3.11'
        run: python -m pip install cvxpy cvxopt

      - name: Conditionally install PyTorch
        if: matrix.config.suite == 'torch'
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Conditionally install TensorFlow
        if: matrix.config.suite == 'tf'
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      # Jax releases new version very frequently, so we should always build
      # to the latest release. We can always fix a version later if it breaks.
      - name: Conditionally install JAX
        if: matrix.config.suite == 'jax'
        run: pip3 install jax jaxlib

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Install Lightning-master
        run: python -m pip install -i https://test.pypi.org/simple/ PennyLane-Lightning --pre --upgrade

      - name: Run tests
        run: python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m "$SUITE and not qcut" -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: core-interfaces-coverage-${{ matrix.config.suite }}-${{ matrix.config.python-version }}
          path: ./coverage.xml

  all-interfaces-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax jaxlib

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m all_interfaces -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: all-interfaces-coverage
          path: ./coverage.xml

  zx-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyZx
        run: pip3 install git+https://github.com/Quantomatic/pyzx.git@master

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m zx -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: zx-coverage
          path: ./coverage.xml

  qcut-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax jaxlib

      - name: Install KaHyPar and opt_einsum
        run: pip3 install kahypar==1.1.7 opt_einsum

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m qcut -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: qcut-coverage
          path: ./coverage.xml

  # Testing the new return types suite
  return-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - { loc: "tests/returntypes/jax", suite: 'jax'}
          - { loc: "tests/returntypes/tf", suite: 'tf'}
          - { loc: "tests/returntypes/torch", suite: 'torch'}
          - { loc: "tests/returntypes/autograd", suite: 'autograd'}
          - { loc: "tests/returntypes/gradients", suite: 'gradients'}
          - { loc: "tests/returntypes/transforms", suite: 'transforms'}
          - { loc: "tests/returntypes/paramshift", suite: 'paramshift'}
          - { loc: "tests/returntypes/finitediff", suite: 'finitediff'}
          - { loc: "tests/returntypes/core", suite: 'core'}
          - { loc: "tests/returntypes/optimizers", suite: 'optimizers'}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax jaxlib

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest ${{ matrix.config.loc }} --cov=pennylane $COVERAGE_FLAGS -n auto


      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: return-coverage-${{ matrix.config.suite }}
          path: ./coverage.xml

  qchem-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          # Based on previous experience, PySCF installation might fail or take
          # longer time with some python versions
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install openfermionpyscf
        run: pip3 install openfermionpyscf

      - name: Install basis-set-exchange
        run: pip3 install basis-set-exchange

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m qchem -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: qchem-coverage
          path: ./coverage.xml

  data-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install zstd
        run: pip3 install zstd

      - name: Install dill
        run: pip3 install dill

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests --cov=pennylane $COVERAGE_FLAGS -m data -n auto

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: data-coverage
          path: ./coverage.xml

  device-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - {device: "default.qubit", shots: None}
          - {device: "default.qubit", shots: 10000}
          # - {device: "default.qubit.tf", shots: None}
          - {device: "default.qubit.autograd", shots: None}
          - {device: "default.mixed", shots: None}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Conditionally install PyTorch
        if: contains(matrix.config.device, 'torch')
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Conditionally install TensorFlow
        if: contains(matrix.config.device, 'tf')
        run: pip3 install tensorflow~=$TF_VERSION

      - name: Conditionally install Jax
        if: contains(matrix.config.device, 'jax')
        run: pip3 install jax jaxlib

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest pennylane/devices/tests \
            --device=${{ matrix.config.device }} \
            --shots=${{ matrix.config.shots }} \
            --cov=pennylane $COVERAGE_FLAGS

      - name: Adjust coverage file for Codecov
        run: bash <(sed -i 's/filename=\"/filename=\"pennylane\//g' coverage.xml)

      - uses: actions/upload-artifact@v2
        with:
          name: devices-coverage-${{ matrix.config.device }}-${{ matrix.config.shots }}
          path: ./coverage.xml

  upload-to-codecov:
      needs: [core-and-interface-tests, all-interfaces-tests, qcut-tests, return-tests, qchem-tests, data-tests, device-tests, zx-tests]
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Download reports from tests
          uses: actions/download-artifact@v2
        - name: Upload to Codecov
          uses: codecov/codecov-action@v3
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
