name: Upload
on:
  release:
    types: [published]

jobs:
  determine_runner:
    name: Change to Large Runner
    uses: ./.github/workflows/determine-workflow-runner.yml
    with:
      default_runner: ubuntu-24.04
      force_large_runner: true

  tests:
    uses: ./.github/workflows/interface-unit-tests.yml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
    with:
      branch: ${{ github.ref }}
      use_large_runner: true

  upload:
    runs-on: ${{ needs.determine_runner.outputs.runner_group }}
    # Make sure that the PennyLane is not released unless the tests are passing.
    needs:
      - tests
      - determine_runner
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Build PennyLane wheel
        run: |
          python -m pip install build
          python -m build --wheel --outdir dist

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
