name: Upload
on:
  release:
    types: [published]

env:
  JAX_VERSION: 0.4.10
  TF_VERSION: 2.10.0
  TORCH_VERSION: 1.13.0


jobs:

  core-and-interface-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - {python-version: 3.8, suite: 'tf'}
          - {python-version: '3.10', suite: 'tf'}
          - {python-version: 3.8, suite: 'torch'}
          - {python-version: '3.11', suite: 'torch'}
          - {python-version: 3.8, suite: 'jax'}
          - {python-version: '3.11', suite: 'jax'}
          - {python-version: 3.8, suite: 'autograd'}
          - {python-version: 3.9, suite: 'autograd'}
          - {python-version: '3.10', suite: 'autograd'}
          - {python-version: '3.11', suite: 'autograd'}
          - {python-version: 3.8, suite: 'core'}
          - {python-version: 3.9, suite: 'core'}
          - {python-version: '3.10', suite: 'core'}
          - {python-version: '3.11', suite: 'core'}

    env:
      SUITE: ${{ matrix.config.suite }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.config.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Conditionally install PyTorch
        if: matrix.config.suite == 'torch'
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Conditionally install TensorFlow
        if: matrix.config.suite == 'tf'
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      # Jax releases new version very frequently, so we should always build
      # to the latest release. We can always fix a version later if it breaks.
      - name: Conditionally install JAX
        if: matrix.config.suite == 'jax'
        run: pip3 install jax==$JAX_VERSION jaxlib==$JAX_VERSION

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Install Lightning-master
        run: python -m pip install -i https://test.pypi.org/simple/ PennyLane-Lightning --pre --upgrade

      - name: Run tests
        run: python -m pytest tests -m "$SUITE" -n auto

  all-interfaces-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax jaxlib

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests -m all_interfaces -n auto

  qcut-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax==$JAX_VERSION jaxlib==$JAX_VERSION

      - name: Install KaHyPar
        run: pip3 install kahypar==1.1.7

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests -m qcut -n auto

  qchem-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          # Based on previous experience, PySCF installation might fail or take
          # longer time with some python versions
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install openfermionpyscf
        run: pip3 install openfermionpyscf

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests -m qchem -n auto

  data-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install zstd
        run: pip3 install zstd

      - name: Install dill
        run: pip3 install dill

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest tests -m data -n auto

  # Testing the new return types suite
  return-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - { loc: "tests/returntypes/jax"}
          - { loc: "tests/returntypes/tf"}
          - { loc: "tests/returntypes/torch"}
          - { loc: "tests/returntypes/autograd"}
          - { loc: "tests/returntypes/gradients"}
          - { loc: "tests/returntypes/transforms"}
          - { loc: "tests/returntypes/paramshift"}
          - { loc: "tests/returntypes/finitediff"}
          - { loc: "tests/returntypes/core"}
          - { loc: "tests/returntypes/optimizers"}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Install PyTorch
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Install TensorFlow
        run: pip3 install tensorflow~=$TF_VERSION keras~=$TF_VERSION

      - name: Install JAX
        run: pip3 install jax==$JAX_VERSION jaxlib==$JAX_VERSION

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest ${{ matrix.config.loc }} -n auto

  device-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        config:
          - { device: "default.qubit", shots: None }
          - { device: "default.qubit", shots: 10000 }
          # - {device: "default.qubit.tf", shots: None}
          - { device: "default.qubit.autograd", shots: None }
          - { device: "default.mixed", shots: None }

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip && pip install wheel --upgrade
          pip install -r requirements-ci.txt --upgrade
          pip install -r requirements-dev.txt --upgrade

      - name: Conditionally install PyTorch
        if: contains(matrix.config.device, 'torch')
        run: pip3 install torch==$TORCH_VERSION -f https://download.pytorch.org/whl/torch_stable.html

      - name: Conditionally install TensorFlow
        if: contains(matrix.config.device, 'tf')
        run: pip3 install tensorflow~=$TF_VERSION

      - name: Conditionally install Jax
        if: contains(matrix.config.device, 'jax')
        run: pip3 install jax==$JAX_VERSION jaxlib==$JAX_VERSION

      - name: Install PennyLane
        run: |
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Run tests
        run: |
          python -m pytest pennylane/devices/tests \
            --device=${{ matrix.config.device }} \
            --shots=${{ matrix.config.shots }}

  upload:
    runs-on: ubuntu-latest
    # Make sure that the PennyLane is not released unless the tests are passing.
    needs: [core-and-interface-tests, all-interfaces-tests, qcut-tests, qchem-tests, return-tests, data-tests, device-tests]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Build PennyLane wheel
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements-ci.txt --upgrade
          python setup.py bdist_wheel

      - name: Publish
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
