name: Upload
on:
  release:
    types: [published]

jobs:
  tests:
    uses: ./.github/workflows/interface-unit-tests.yml
    with:
      branch: ${{ github.ref }}

  upload:
    runs-on: ubuntu-latest
    # Make sure that the PennyLane is not released unless the tests are passing.
    needs:
      - tests
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Build PennyLane wheel
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements-ci.txt --upgrade
          python setup.py bdist_wheel

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
