name: Build nightly PennyLane RC releases for TestPyPI

on:
  push:
    # schedule:
    #   # Run every weekday at 5:50 EDT (cron is in UTC)
    #   - cron: "50 9 * * 1-5"
    workflow_dispatch:

jobs:
  setup:
    name: Setup the release
    runs-on: ubuntu-24.04
    steps:
    - name: Check for rc branch
      run: |
        VERSION=$(python setup.py --version)
        IFS=. read MAJ MIN PAT <<< "${VERSION%-dev[0-9]*}"
        RC_BRANCH="v${MAJ}.$((MIN-1)).${PAT}-rc0"
        if git ls-remote --exit-code origin "refs/heads/$RC_BRANCH"; then
          echo "branch_exists=true" >> $GITHUB_ENV
          echo "rc_branch=$RC_BRANCH" >> $GITHUB_ENV
        else
          echo "branch_exists=false" >> $GITHUB_ENV
        fi

    - name: Checkout PennyLane repo
      if: ${{ env.branch_exists == 'true' }}
      uses: actions/checkout@v4
      with:
        ssh-key: ${{ secrets.NIGHTLY_VERSION_UPDATE_DEPLOY_KEY }}
        ref: sc-98284-rc-test

    - name: Bump rc version
      if: ${{ env.branch_exists == 'true' }}
      run: |
        python $GITHUB_WORKSPACE/.github/workflows/scripts/set_nightly_version.py --versiontype="versionrc =" --pattern="(\d+)\.(\d+)\.(\d+).rc(\d+)"
        git config --global user.email '${{ secrets.AUTO_UPDATE_VERSION_RINGO_EMAIL }}'
        git config --global user.name "ringo-but-quantum"
        git add $GITHUB_WORKSPACE/pennylane/_version.py
        git commit -m "[no ci] bump nightly version"
        # git push

    - name: Update version
      if: ${{ env.branch_exists == 'true' }}
      run: |
        python $GITHUB_WORKSPACE/.github/workflows/scripts/set_nightly_version_rc.py

    - name: Build wheels
      if: ${{ env.branch_exists == 'true' }}
      run: |
        python -m pip install build
        python -m build --wheel --outdir dist
  
    - uses: actions/upload-artifact@v4
      if: ${{ env.branch_exists == 'true' }}
      with:
        name: nightly-wheels
        path: ./dist/*.whl

  upload:
    name: Upload wheels to TestPyPI
    needs: [setup]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: nightly-wheels
        path: dist

    - name: Upload wheels
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        packages-dir: dist
